<div style="background: #ECECEC;padding:30px">
    <nz-card style="width:100%" [nzBordered]="false">
        <nz-page-header>
            <nz-page-header-title>Sistema de turnos</nz-page-header-title>
        </nz-page-header>

            <button nz-button nzSize="large" nzType="primary" routerLink="/menu/turno" >
                Generar turno
            </button>

            <button nz-button nzSize="large" nzType="default" routerLink="/menu/cola">
                Ver cola de turnos
            </button>

            <button nz-button nzSize="large" nzType="dashed" routerLink="/menu/ventanilla">
                Ventanilla
            </button>

            <button *ngIf="usuario_id" nz-button nzSize="large" nzType="dashed" routerLink="/menu/historial">
                Historial
            </button>

            <div style="width: 60%;">
                <router-outlet>
                </router-outlet>
            </div>

    </nz-card>
</div>