<nz-spin [nzSpinning]="loading">

    <nz-page-header>
        <nz-page-header-title>Generar turnos</nz-page-header-title>
    </nz-page-header>

    <form nz-form [formGroup]="turno_form" nzLayout="vertical">
        <nz-form-item>
            <nz-form-label nzRequired>Nombres</nz-form-label>
            <input nz-input type="text" name="nombre" placeholder="Ingrese el nombre completo" formControlName="nombres">
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>Area</nz-form-label>

            <nz-select nzAllowClear nzPlaceHolder="Seleccione" formControlName="area">
                <nz-option *ngFor="let area of areas" [nzValue]="area.descripcion" [nzLabel]="area.descripcion"></nz-option>
            </nz-select>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>Tramite</nz-form-label>

            <nz-select nzAllowClear nzPlaceHolder="Seleccione" formControlName="tramite">
                <nz-option *ngFor="let tramite of tramites" [nzValue]="tramite.descripcion" [nzLabel]="tramite.descripcion"></nz-option>
            </nz-select>

        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired>Observacion</nz-form-label>

            <nz-textarea-count [nzMaxCharacterCount]="255">
                <textarea rows="4" formControlName="observacion" nz-input></textarea>
            </nz-textarea-count>
        </nz-form-item>

        <nz-form-item>
            <button nz-button nzType="primary" (click)="onSubmit()" [disabled]="!turno_form.valid">Guardar</button>
        </nz-form-item>
    </form>
</nz-spin>
