<nz-spin [nzSpinning]="loading">

    <nz-page-header>
        <nz-page-header-title>Ventanilla</nz-page-header-title>
    </nz-page-header>

    <nz-alert *ngIf="turnos.length === 0 " nzType="warning" nzMessage="No se encontraron datos"></nz-alert>

    <form nz-form [formGroup]="turno_form" enctype="multipart/form-data" nzLayout="vertical" *ngIf="turnos.length > 0 ">
        <nz-form-item>
            <nz-form-label>Nombres</nz-form-label>
            <input nz-input type="text" name="nombre" placeholder="Ingrese el nombre completo" formControlName="nombres">
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Area</nz-form-label>

            <input nz-input type="text" name="area" placeholder="Ingrese el nombre completo" formControlName="area">
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Tramite</nz-form-label>

            <input nz-input type="text" name="tramite" placeholder="Ingrese el nombre completo" formControlName="tramite">

        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Observacion</nz-form-label>
            <textarea rows="4" formControlName="observacion" nz-input></textarea>
        </nz-form-item>


        <nz-form-item>
            <nz-form-label nzRequired>Comentario</nz-form-label>
            <textarea rows="4" formControlName="comentario" nz-input></textarea>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired> Archivo</nz-form-label>
            <input nz-input type="file" name="archivosubido" (change)="uploadFile($event)" >
            <!-- <input nz-input type="submit" value="Enviar datos"> -->
        </nz-form-item>

        <nz-form-item>
            <button nz-button nzType="primary" (click)="onSubmit()" [disabled]="!turno_form.valid">Guardar</button>
            <button nz-button nzType="dashed" (click)="saltar()" [disabled]="turnos.length == (index + 1)">Saltar</button>
        </nz-form-item>
    </form>
</nz-spin>
