<nz-spin [nzSpinning]="loading">
    <div style="display: flex; justify-content: center;  padding-top: 100px;">
        <div class="container-login">
    
            <div *ngIf="!register_mode">
                <h3 class="mb-3" style="color: #666;">Inicia sesión</h3>
                
                <form [formGroup]="login_form">
                    <nz-form-item>
                        <nz-form-label>Nombre de usuario</nz-form-label>
                        <input nz-input type="text" name="email" placeholder="Ingrese el correo" formControlName="user_name"/>
                    </nz-form-item>
                
                    <nz-form-item>
                        <nz-form-label>Contraseña</nz-form-label>
                        <input nz-input type="password" name="password" placeholder="Ingrese la contraseña" formControlName="password"/>
                    </nz-form-item>
    
                    <button nz-button nzType="primary" nzBlock [disabled]="!login_form.valid" (click)="onSubmit()">
                        <i nz-icon nzType="check-circle" nzTheme="outline"></i>
                        Ingresar
                    </button>
    
                    <a nz-button nzType="link" nzBlock href="javascript:" (click)="onChangeMode()">
                        No tienes cuenta? Registrate!
                    </a>
                </form>
    
                <!-- <a href="javascript:" (click)="template_login = 'login_apps'">Regresar</a> -->
            </div>
    
            <div *ngIf="register_mode">
                <form [formGroup]="login_form">

                    <h3 class="mb-3" style="color: #666;">Regístrate</h3>

                    <nz-form-item>
                        <nz-form-label>Nombre de usuario</nz-form-label>
                        <input nz-input type="text" name="email" placeholder="Ingrese el correo" formControlName="user_name"/>
                    </nz-form-item>
                
                    <nz-form-item>
                        <nz-form-label>Contraseña</nz-form-label>
                        <input nz-input type="password" name="password" placeholder="Ingrese la contraseña" formControlName="password"/>
                    </nz-form-item>
    
                    <button nz-button nzType="primary" nzBlock [disabled]="!login_form.valid" (click)="onSubmit()">
                        <i nz-icon nzType="check-circle" nzTheme="outline"></i>
                        Registrarme
                    </button>
    
                    <a nz-button nzType="link" nzBlock href="javascript:" (click)="onChangeMode()">
                        Iniciar sesion
                    </a>

                </form>

            </div>
        </div>
    </div>
</nz-spin>
