<nz-page-header>
    <nz-page-header-title>Cola de turnos</nz-page-header-title>
</nz-page-header>
    
<nz-spin [nzSpinning]="loading">
    <div class="table-responsive">
      <nz-table [nzNoResult]="dataFound" [nzData]="turnos" [nzFrontPagination]="false" nzShowPagination="false">
          <thead>
            <tr>
              <th>#</th>
              <th nzColumnKey="nombre">Nombre</th>
              <th nzColumnKey="area">Area</th>
              <th nzColumnKey="tramite">Tramite</th>
              <th nzColumnKey="observacion">Observacion</th>
              <th nzColumnKey="Actions" class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of turnos; let i = index">
              <td>{{ (i + 1) }}</td>
              <td>{{ item.nombres }}</td>
              <td>{{ item.area }}</td>
              <td>{{ item.tramite }}</td>
              <td>{{ item.observacion }}</td>
  
              <td class="text-right">
                <nz-button-group nzSize="small">
                    
                    <nz-alert nzType="warning" nzMessage="No despachado"></nz-alert>

                  <!-- <button nz-button nzType="primary" (click)="onConfirmDelete(item, i)" type="button" nzDanger type="button" nzTooltipTitle="Borrar" nzTooltipPlacement="top" nz-tooltip>
                    <i nz-icon nzType="delete"></i>
                  </button> -->

                </nz-button-group>
              </td>
            </tr>
          </tbody>
        </nz-table>
    </div>
</nz-spin>

